/* this is the navbar styling */

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* background-color: rgb(240, 240, 240); */
}

#toolbar_container {
    display: flex;
    justify-content: space-between;
}

#draggable_area {
    -webkit-app-region: drag;
    height: 20px;
    position: absolute;
    top: 0;
    left: calc(50vw - 16px);
    padding: 4px;
}

nav img {
    height: 20px;
    color: red;
}

img#logo {
    align-self: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 32.12px;
    height: 30px;
    border: 2px solid black;
    padding-left: 3px;
    border-radius: 7px;
}

#toolbar_buttons {
    margin-right: 5px;
    margin-top: 5px;
    user-select: none;
}

#toolbar_buttons button:hover {
    transform: scale(1.1, 1.1);
}
